<form name="test" ng-submit="submit(test.$valid)" novalidate>
	name<input class="name" name="name" ng-model="list.item.name" data- type="text" value="{{list.item.name}}"  required>
	<span class="help-block" ng-show="(test.name.$invalid && test.name.$dirty)">
		<p ng-show="test.name.$error.required" class="">
			This field is required.
		</p>
	</span><br>
	lastName<input class="lastName" name="lastName" ng-model="list.item.lastName" data- type="text" value="{{list.item.lastName}}" required>
	<span class="help-block" ng-show="(test.lastName.$invalid && test.lastName.$dirty)">
		<p ng-show="test.lastName.$error.required" class="">
			This field is required.
		</p>
	</span><br>
	email<input class="email" name="email" ng-model="list.item.email" data- type="email" value="{{list.item.email}}"required>
	<span class="help-block" ng-show="(test.email.$invalid && test.email.$dirty)">
		<p ng-show="test.email.$error.required" class="">
			This field is required.
		</p>
		<p ng-show="test.email.$error.email" class="">
			This field invalid
		</p>
	</span><br>
	mobile<input class="mobile" name="mobile" ng-model="list.item.mobile" data- type="text" value="{{list.item.mobile}}" ng-maxlength="10" ng-minlength="10">
	<span class="help-block" ng-show="(test.mobile.$invalid && test.mobile.$dirty)">
		<p ng-show="test.mobile.$error.minlength" class="">
			This field is min.
		</p>
	</span><br>
	thai_id<input class="thai_id" name="thai_id" ng-model="list.item.thai_id" data- type="number" value="{{list.item.thai_id}}" ng-maxlength="13" ng-minlength="13"><br>
	password<input class="password" name="password" ng-model="list.item.password" data- type="password" value="{{list.item.password}}" ng-pattern="/^[a-zA-Z]\w{3,14}$/" ><br>
	<input class="submit" ng-model="list.item.submit" data- type="submit"  value="Submit"><br>
</form>
	{{ name }}
	<br>
	name: {{ list.item.name}}<br>
	lastName: {{ list.item.lastName}}
	<pre>
	{{ list | json}}
		{{ test | json}}
	</pre>
</div>