<div id="fb-root"></div>
<fb:login-button show-faces="true" max-rows="1" size="large"></fb:login-button>
<form ng-submit="submit(list)" novalidate>
    <input class="name" ng-model="list.item.name" data- type="text" value="{{list.item.name}}" ><br>
    <span class="help-block" ng-show="(list.item.name.$invalid && list.item.name.$dirty)">
        <p ng-show="list.item.$error.required" class="">
            This field is required.
        </p>
    </span>
    <input class="lastName" ng-model="list.item.lastName" data- type="text" value="{{list.item.lastName}}"><br>
    <span class="help-block" ng-show="(list.item.$invalid && list.item.$dirty)">
        <p ng-show="addData.textinput.$error.required" class="">
            This field is required.
        </p>
    </span>
    <input class="email" ng-model="list.item.email" data- type="text" value="{{list.item.email}}"><br>
    <input class="mobile" ng-model="list.item.mobile" data- type="text" value="{{list.item.mobile}}" ng-maxlength="10" ng-minlength="10"><br>
    <input class="thai_id" ng-model="list.item.thai_id" data- type="number" value="{{list.item.thai_id}}" ng-maxlength="13" ng-minlength="13"><br>
    <input class="password" ng-model="list.item.password" data- type="password" value="{{list.item.password}}" ng-pattern="/^[a-zA-Z]\w{3,14}$/" ><br>
    <input class="submit" ng-model="list.item.submit" data- type="submit" value="{{list.item.submit}}"><br>
</form>
{{ name }}
<br>
name: {{ list.item.name}}<br>
lastName: {{ list.item.lastName}}
<pre>
    {{ list | json}}
</pre>
<pre>
    {{ profile |json}}
</pre>
</div>