<!DOCTYPE html>
<html ng-app="herpderp">
	<head>
		<title>Test angular 101</title>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="angular-route.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>
	<body>
		<div class="container-fluid" ng-controller="defaultController">
				
			<form name='derp'>
				<label>name</label>
				<input type="text" name="name" ng-model="data.name" required><span ng-show="derp.name.$invalid">Hey!</span><br>

				<label>email</label>
				<input type="email" name="email" ng-model="data.email" required><span ng-show="derp.email.$invalid">Hey!</span><br>
				
				<label>iphone</label>
				<input type="text" name="phone" ng-model="data.phone" required><span ng-show="derp.phone.$invalid">Hey!</span><br>
				
				<label>cid</label>
				<input type="text" name="cid" ng-model="data.cid" required><span ng-show="derp.cid.$invalid">Hey!</span><br>
				
				<label>password</label>
				<input type="password" name="password" ng-model="data.password" required><span ng-show="derp.password.$invalid">Hey!</span><br>

				<input type="submit" ng-click="submit(derp.$valid)" value="Submit">
			</form>

		</div>
	    <ng-view></ng-view>
	</body>
</html>